a {
    color: rgb(10, 28, 46);
    text-decoration: none;
  }
  a:hover {
    color: #ADBD37;
    text-decoration: underline;
  }
 .pie {
    margin-top: 30px;
    height: 4em;
    color: rgb(10, 28, 46);
    text-align: center;
     padding: 10px 0;
  }
  .pie a:before, .pie a:after{
    content: ' ';
    margin: 1px;
  }
  .pie .parrafo{
    margin-bottom: 0.1em;
  }
  /*desde la anchura 0px hasta 550px de pantalla */
@media ( max-width: 550px){
  .pie {
    font-size: 0.9em;
  }
}