@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

header {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

.titulo, .intentos {
    display: flex;	
	justify-content: center;
	align-items: center;

} 
.titulo {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2em;
    color: darkkhaki;
} 

.intentos {
    font-size: 1.5em;
    color: blanchedalmond;  
    margin-left: 10px;
    margin-right: 10px;
} 
.area-boton{
    display: flex;	
	justify-content: center;
	align-items: center;
}
.boton-reiniciar{
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3em;
    color: #ffffff;
    padding: 0.3em;
    background-color: darkkhaki;
    border-radius: 0.1em;
    border: 0.1em solid  #ffffff;

  }
  .boton-reiniciar:hover{
    color: #f1f0ef;
    background-color: #5C9933;
  }

  /*desde la anchura 0px hasta 660px de pantalla */
@media ( max-width: 660px){
	
	header {
         width: 100%;
    }

    .titulo {
        font-size: 1.5em;
        width: 100%;
        margin-bottom: 10px;
    } 
    
    .intentos {
        font-size: 1em;
        margin-left: 7px;
        margin-right: 7px;
    } 

    .boton-reiniciar{
        font-size: 0.8em;
        padding: 0.2em;
      }
}
